/*Padding y margen para todo el proyecto*/
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

/*Tipo de letra y tamaño de la pagina web, se agrega link de letra
 en el head del HTML */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;

}

@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    body {
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
}

/*Letra blanca con fondo negro en titulos*/
h1 {
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    padding-left: 0.5em;
}

h2 {
    
    font-size: 2.5em;

}

h3 {
    font-size: 1.5rem;
}

h4{
  text-decoration: underline;
  font-size: 1rem;
}


p {
    line-height: 1.5em;
    text-align: justify;
}

/*ID para solapar figcaption con su imagen */
.jumbotronImg {
    background-image: url("https://image.freepik.com/free-photo/brain-research-magnetic-resonance-imaging_114106-15.jpg");
}

/*CONTACTO/HORARIO/DIRECCION/ SPLIT SCREEN*/
/*Ubico los datos de contacto en 3 cajas en HORIZONTAL, aplico un
 ID para dicha seccion*/
@media only screen and (min-width: 768px) {
    .box-container2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-container2 p {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .box-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box-container2 p {
        text-align: center;
    }

    .box-container2 div {
        margin-bottom: 1em;
    }
}

/*Estilo lista no ordenada */
.listStyle {
    list-style-type: none;
    display: inline-block
}

.listStyle li {
    display: inline-block
}

.listStyle--inside li{
    list-style-position: inside;
}

.listStyle--circle {
    list-style: circle;
}

/*BLOQUE BACKGROUND*/
.background{
    &--gray {
        background-color: $gray-mine;
    }
    &--black {
        background-color: $black;
    }
}
/*Seccion negra con letra blanca y alineacion de texto centrada */
.blackSection {
    background-color: $black;
    color: white;
    text-align: center;

    &--left {
        text-align: left;
    }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: inherit;
  white-space: nowrap;
  background-color: $black;
  border: 0; }

.dropdown-item:hover, .dropdown-item:focus {
    color: $light;
    text-decoration: none;
    background-color: $black; }

.indexBox {
    background-color: $gray;
    transition: transform 1s;

    &:hover {
        transform: scale(1.05, 1.05);
        cursor: pointer;
    }

    a {
    color: black;
    }

    &--bold {
      font-weight: bold;
    }

    &__image {
      max-width: 100%;
    }

}

.tableGen {
  margin-top: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;

  &__head {
    background-color: #E0A42B;
    font-weight: bold;
    vertical-align: top;
  }

  &__body {
    vertical-align: top;
    width: 33%;
    padding-bottom: 1vw
  }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageFitBox {
    max-width: 100%;
}

.logo {
    max-height: 25vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    &--backgroundBlack {
        background-color: black; 
    }
}



.listaInterlineado {
    ul {
        list-style: circle;
        line-height: 2.5em;
        text-align: left;
        list-style-position: inside;
    }
    &--center{
        ul {
          text-align: center;
          list-style: none;
          line-height: 2.5em;
        }
    }
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}