/*VARIABLES*/
$gray: #f9f9f9;
$black: #151719;
$border-color: rgba(0, 0, 0, 0.075);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

/*ESTILOS IMPORTADOS*/
@import "../node_modules/bootstrap/scss/bootstrap";
@import "estilo";